# Ignorar carpetas de compilación de Maven (Backend)
**/target/
**/*.jar

# Ignorar carpetas de dependencias de Node (Frontend)
**/node_modules/

# Angular
**/.angular/
**/dist/

# Logs
**/*.log

# IDE
**/.idea/
**/*.iml

# OS
**/.DS_Store
**/Thumbs.db